<a href="https://colab.research.google.com/github/AftabUdaipurwala/MachineLearningBasics/blob/ClassificationModels/Naive_bayes_theorem_Spam_Emails.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [147]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [148]:
!ls '/content/drive/MyDrive/py-master/ML/14_naive_bayes/'

14_naive_bayes_1_titanic_survival_prediction.ipynb  Exercise	 spam.csv
14_naive_bayes_2_email_spam_filter.ipynb	    exercise.md  titanic.csv

In [149]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_digits

In [150]:
df = pd.read_csv('/content/drive/MyDrive/py-master/ML/14_naive_bayes/spam.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [151]:
df['spam']= df['Category'].apply(lambda x:1 if x=='spam' else 0)

In [152]:
df.spam.head()

0    0
1    0
2    1
3    0
4    0
Name: spam, dtype: int64

In [153]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [154]:
x= df.drop(['spam','Category'],axis=1)
y= df.spam
x.head()

                                             Message
0  Go until jurong point, crazy.. Available only ...
1                      Ok lar... Joking wif u oni...
2  Free entry in 2 a wkly comp to win FA Cup fina...
3  U dun say so early hor... U c already then say...
4  Nah I don't think he goes to usf, he lives aro...

In [169]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(df.Message,df.spam,test_size=0.2)
len(xtrain)

4457

In [170]:
len(xtest)

1115

In [171]:
xtrain.values

array(['Those were my exact intentions',
       'Hiya, probably coming home * weekend after next',
       "Okay. I've seen it. So i should pick it on friday?", ...,
       'No worries, hope photo shoot went well. have a spiffing fun at workage.',
       'Last Chance! Claim ur £150 worth of discount vouchers today! Text SHOP to 85023 now! SavaMob, offers mobile! T Cs SavaMob POBOX84, M263UZ. £3.00 Sub. 16',
       'Yeh. Indians was nice. Tho it did kane me off a bit he he. We shud go out 4 a drink sometime soon. Mite hav 2 go 2 da works 4 a laugh soon. Love Pete x x'],
      dtype=object)

In [172]:
type(xtrain)

pandas.core.series.Series

In [178]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
xtraincount= v.fit_transform(xtrain.values)
xtestcount= v.transform(xtest)

In [179]:
xtraincount.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [180]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(xtraincount, ytrain)
model.score(xtestcount,ytest)

0.989237668161435

In [181]:
from sklearn.pipeline import Pipeline
clf= Pipeline([
               ('vectorizer',CountVectorizer()),
               ('nb', MultinomialNB())
])

In [182]:
clf.fit(xtrain,ytrain)

Pipeline(memory=None,
         steps=[('vectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('nb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [183]:
clf.score(xtest,ytest)

0.989237668161435